/* --------------- AQUI SE ENCUENTRA ESTILO PROPIO DE quienesSomos.html --------------- */

.quienes-somos {
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
    color: white;
}

.cards {
    width: 90%;
    padding-top: 50px;
    margin: 0 auto 0 auto;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-bottom: 60px;
    flex-wrap: wrap;
}
