@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

*
{
    padding: 0;
    margin: 0;
}

/*
.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.title {
    font-family: "Tiny5", sans-serif;
    font-size: 25px
}

.form div {
 display: flex;
 flex-direction: column;
 gap: 10px;
 color: white;
 margin-bottom: 10px;
}

.form input {
    padding-left: 10px;
}

.nosotros {
    margin-right: 8px;
}

main{
    width: 100%;
    background-image: url(images/main-backgorund.jpg);
    background-size: cover;
}

.carousel {
    width: 95%;
    padding-top: 20px;
    margin: 0 auto 20px auto;
    max-width: 2000px;
}

.cards {
    width: 90%;
    padding-top: 50px;
    margin: 0 auto 0 auto;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-bottom: 60px;
    flex-wrap: wrap;
}

.client-title {
    font-family: "Tiny5", sans-serif;
    font-size: 25px;
}

.card {
    height: fit-content;
}

footer {
    background-color: #303434;
    color: white;
    padding-top: 10px;
}

footer h3 {
    font-family: "Tiny5", sans-serif;
}

.footer-ul {
    list-style: none;
}

@media (max-width: 991px) {
    .login-btn {
        margin-bottom: 5px;
    }

    .nosotros {
        margin-bottom: 10px;
    }

    .cards{
        gap: 20px;
    }
    
}

/* QUIENES SOMOS */

.quienes-somos {
    font-family: "Tiny5", sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
    color: white;
}

/* ACERCA DE */

.info-box {
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.info-box p, .info-box ul {
    color: white;
    font-size: 20px;
}

.service-weight {
    font-weight: 700;
}

.porque-elegirnos {
    padding-bottom: 80px;
}